<p id="notice"><%= notice %></p>

<p>
  <b>Start time:</b>
  <%= @tour.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @tour.end_time %>
</p>


<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
